/* Generic Selectors */
/*body {
    font-family: Tahoma, Verdana;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

p {
    width: 80%;
}

li {
    list-style-type: none;
    line-height: 150%
}

h1 {
    font-family: Tahoma, Verdana;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: Tahoma, Verdana;
    font-size: bold;
    color: #000000;
    border-bottom: 1px solid #C6EC8C
}

a:link {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

li:link {
    color: #00CC00;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

li a:visited {
    color: black;
    text-decoration: none;
    font weight: bold;
}

a:hover {
    color: rgb(0, 96, 255);
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

li a:hover {
    display: block;
    color: rgb (0, 96, 255);
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C6EC8C;
}

a:active {
    color: rgb (255, 0,102);
    font-weight: bold;
}*/

.iw_loading_box {
	text-align: center;
	vertical-align: middle;
	margin: 30px 30px 30px 30px;
    width: 200px;
	background-color: #ffffff;
}

.iw_new_loading_box {
	text-align: center;
	vertical-align: middle;
	margin: 30px 30px 30px 30px;
    width: 200px;
	background-color: #ffffff;
}

#input_text { 
    color: #999 !important;
    font: inherit;
}